.blog_content {
    p:first-child {
        font-size: em(30px);
        padding: em(10px) em(60px) em(10px) em(60px);
    }

    p {
        padding: 0 em(60px) 0 em(60px);
    }

    h3 {
        margin-bottom: 0;
        padding: 0 em(60px) 0 em(50px);
    }
}

.blog_image {
    float: right;
    width: 30%;
    padding-top: em(50px);
}

.blog_copy {
    p:last-child {
        padding-bottom: em(100px);
    }
}

.link_area {
    background-color: $dark-teal;

    h3 {
        color: $white;
        text-transform: uppercase;
        padding: em(30px) em(60px) 0 em(60px);
    }

    p:last-child {
        padding: 0 em(60px) em(20px) em(70px);
    }
}
