/* BLOG */
.blog_list_img {
    img {
        width: 100%;
        height: 100%;
    }
}

.blog_list_text {
    h2,
    p {
        margin: 0;
    }

    h2 {
        padding-top: em(30px);
        padding-left: em(20px);
    }

    p {
        padding-left: em(30px);
    }
}

.date {
    padding-bottom: em(20px);
}

.blog_list_button {
    text-align: center;
    padding-bottom: em(50px);
    padding-top: em(30px);
}

@media (min-width: 600px) {
    .blog_list_button {
        text-align: right;
        padding-right: em(20px);
    }
}

@media (min-width: 750px) {
    .blog_list_item {
        display: grid;
        grid-template-columns: 300px auto;
        grid-gap: em(10px);
        padding: em(50px) 0 em(50px) 0;
    }

    .blog_list_text {
        padding-right: em(20px);
    }
}

@media (min-width: 900px) {
    .blog_list {
        max-width: 775px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* BLOG
.blog_title {

    h1 {
        font-size: em(50px);
        padding-bottom: 0;
    }

    h2 {
        font-size: em(32px);
        text-transform: lowercase;
        padding-top: 0;
        padding-bottom: em(50px);
    }
}


.blog_title h2::after {
    background: none repeat scroll 0 0 $red;
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.125em;
    position: relative;
    width: 2.25em;
    margin: auto;
}

.blog_content {
    p:first-child {
        font-size: em(24px);
        padding: em(10px) em(20px) em(10px) em(20px);
    }

    p {
        padding: 0 em(20px) 0 em(20px);
    }

    h3 {
        margin-bottom: 0;
        padding: 0 em(20px) 0 em(20px);
    }

    @media (min-width: 550px) {
        p:first-child {
            font-size: em(30px);
            padding: em(10px) em(60px) em(10px) em(60px);
        }

        p {
            padding: 0 em(60px) 0 em(60px);
        }

        h3 {
            margin-bottom: 0;
            padding: 0 em(60px) 0 em(50px);
        }
    }
}

.blog_image img {
    width: 100%;
    height: auto;
}

@media (min-width: 550px) {
    .blog_image {
        float: right;
        width: 50%;
        padding-top: em(50px);
        margin-left: 10px;
    }
}

.blog_copy {
    p:last-child {
        padding-bottom: em(100px);
    }
}

.link_area {
    background-color: $dark-teal;

    h3 {
        color: $white;
        text-transform: uppercase;
        padding: em(30px) em(60px) 0 em(60px);
    }

    p:last-child {
        padding: 0 em(60px) em(20px) em(70px);
    }
}
*/
