/* index.html STYLES
.home {
    background: black;
}
*/

.image_full {
    width: 100%;
    height: auto;
}

/*

.hero {
    background: url(../img/cape.jpg) $dark-teal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero_box {
    padding-top: em(500px);
}
*/

.hero_call_to_action {
    background: $black;
    display: flex;
    align-items: center;
    margin-top: em(-5px);
    flex-direction: column;

    h2 {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        padding: em(10px) em(20px) 0 em(20px);
        font-size: 2em;
    }

    @media (min-width: 600px) {
        flex-direction: row;

        h2 {
            padding: em(20px) em(20px) em(20px) em(20px);
        }
    }

    p {
        color: $white;
    }
}

.services-style {
    background-color: $light-grey;
    padding: em(75px) em(50px) em(75px) em(50px);

    h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    @media (min-width: 550px) {
        h2 {
            font-size: 2em;
        }
    }

    @media (min-width: 750px) {
        h2 {
            font-size: 3em;
        }
    }
}

.services-pad {
    padding-top: em(40px);
}

.blog_preview {
    h2 {
        color: $black;
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
    }
}
