.services-style {
    background-color: $light-grey;
    padding: em(75px) em(50px) em(75px) em(50px);

    h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    @media (min-width: 550px) {
        h2 {
            font-size: 2em;
        }
    }

    @media (min-width: 750px) {
        h2 {
            font-size: 3em;
        }
    }
}

.services-pad {
    padding-top: 40px;
}

.trainings_pad {
    padding-top: em(70px);
}
