/* BILLBOARD WITH BLACK BACKGROUND */
.billboard_black {
    background-color: $black;
    h1,
    h2 {
        color: $bright_teal;
    }
    p {
        color: $white;
    }
}

.billboard_white {
    background-color: $white;
    h1,
    h2,
    p {
        color: $black;
    }
}


.billboard {
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
        margin: 0;
        padding: 0 em(5px) em(20px) em(5px);
    }

    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5em;
        margin: 0;
        padding: em(20px) em(5px) 0 em(5px);
    }

    p {
        margin: 0;
        line-height: 1.5em;
        text-align: center;
        font-size: 1.25em;
        padding: 0 em(5px) 0 em(5px);
    }

    @media (min-width: 450px) {
        h1 {
            font-size: 4.5em;
            padding-bottom: em(10px);/*
            margin-top: em(-5px);
            */
        }

        h2 {
            font-size: 3.5em;
        }

        p {
            font-size: 1.5em;
        }
    }

    @media (min-width: 650px) {
        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 4em;
        }
    }
}

.p_space {
    padding-bottom: em(50px);
}

.blog_title {

    h1 {
        font-size: em(50px);
        padding-bottom: 0;
    }

    h2 {
        font-size: em(32px);
        text-transform: lowercase;
        padding-top: 0;
        padding-bottom: em(50px);
    }
}

/* BILLBOARD WITH WHITE BACKGROUND */
