/* CARDS */

/* 3 column cards */
.card-three-grid-wrapper {
    display: grid;
    flex: 1;
    grid-gap: 10px;
}

@media (min-width: 600px) {
    .card-three-grid-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card-three {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;
    color: $black;

    h3 {
        text-align: center;
        text-transform: uppercase;
    }

    p {
        padding-left: 10px;
    }

    a {
        align-self: flex-end;
        width: 100%;
        margin-top: auto;
    }
}

.card-three__image {
    text-align: center;
    width: 100%;
}

.card-three__read-more {
    align-self: flex-end;
    margin-top: auto;
    button {
        background: $red;
        width: 100%;
        border: none;
        color: $white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;

        &:hover {
            background: $white;
            color: $red;
        }
    }
}


/* two column cards */
.card-two-wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .card-two-wrapper {
        flex-direction: row;
    }

    .card-two {
        margin-right: 20px;
    }

    .card-two:last-child {
        margin-right: 0;
    }

}

.card-two {
    background-color: $white;
    border: 1px solid $light-grey;
    flex: 1;
    margin-bottom: 20px;

    /*
    margin-right: 20px;
    */
    color: $white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    /*
    &:last-child {
        margin-right: 0;
    }
    */

    h4 {
        color: $white;
        background-color: $dark-teal;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        padding: 10px 0 10px 0;
    }

    p {
        color: $black;
        padding: 0 20px 10px 20px;
    }

    a {
        align-self: flex-end;
        margin-top: auto;
    }
}

.card-two__learn-more {
    button {
        background: $red;
        border: none;
        color: $white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;

        &:hover {
            background: $white;
            color: $red;
        }
    }
}

/* horizontal card */
