/* FLEX STYLES */
.flex_wrapper {
    display: flex;
}

.flex_content {
    flex: 1;
}

.content_img {
    content-fit: cover;
}

.content_img img {
    max-width: 100%;
    height: auto;
}

.content_text_coaching {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    h2 {
        color: $white;
    }

    p {
        color: $white;
    }

    ul li {
        color: $white;
        font-family: $roboto;
    }

}
