/* FLEX STYLES */
.flex_wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 650px) {
        flex-direction: row;
    }
}

.flex_content {
    flex: 1;
    margin-bottom: em(-10px);
}

.content_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85% center;
}

.content_text_coaching {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    h2 {
        color: $white;
    }

    p {
        color: $white;
    }

    ul li {
        color: $white;
        font-family: $roboto;
    }
}
