
/* #FOOTER */
.footer {
    background-color: $black;

    h2,
    h4 {
        color: $white;
        text-align: center;
    }

    p {
        text-align: center;
        color: $white;
    }

    .icon {
        fill: $white;
        height: 3em;
        display: block;
        margin: auto;
    }

    .icon:hover {
        fill: $bright_teal;
    }

    p {
        text-align: center;
        color: $white;
    }

    .copyright {
        color: white;
    }
}
