
/*  #HEADER */
.hide {
    display: none;
}

header {

}

/*  #NAV */
.nav {
    z-index: map-get($zindex, nav);
    background: $black;
    position: sticky;
    top: 0;

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 2em 0 2em 0;

        li {
            flex: 1;
            text-align: center;

            a {
                color: $white;
                text-decoration: none;
                font-family: $archivo;

                &:hover {
                    color: $bright_teal;
                }
            }
        }
    }
}

.nav ul li.selected a {
    color: $bright_teal;
}
