
/*  #HEADER */
.hide {
    display: none;
}

header {

}

/*  #NAV */
.nav {
    background: $black;

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 2em 0 2em 0;

        li {
            flex: 1;
            text-align: center;

            a {
                color: $white;
                text-decoration: none;
                font-family: $archivo;

                &:hover {
                    color: $bright_teal;
                }
            }
        }
    }
}
