
/*  #HEADER */

header {

}

/*  #NAV */
.nav  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    flex: 1;
    text-align: center;
}

.nav {

	ul {

		> li {

			> a {

				&:hover {
				}
			}
		}
	}
}
